@font-face{
    font-family:"Lucida", sans-serif;
    src: local(Lucida Handwriting Italic) ,url("/templates-master/MDB-Landing-Page-Templates-Pack_4.8.11/font/lucida/Lucida/Handwriting/Italic.ttf") ;
    src:url("/templates-master/MDB-Landing-Page-Templates-Pack_4.8.11/font/lucida/Lucida/Handwriting/Italic.ttf") format("embedded-opentype");
    /* src:url("/templates-master/MDB-Landing-Page-Templates-Pack_4.8.11/font/lucida/LHANDW.TTF");
    src:url("/templates-master/MDB-Landing-Page-Templates-Pack_4.8.11/font/lucida/qkmarisa.ttf"); */
}

h2{
    font-family:Lucida Handwriting Italic;
}